.slider-wrap {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.loop {
  display: flex;
  width: auto;
  grid-column-gap: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

img {
  width: 60vh;
  height: 50vh;
  object-fit: cover;
}
