.App {
  display: flex;
}

main {
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  margin-left: 7%;
}

main::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
