.sideContainer {
  width: 5%;
  margin-left: 1%;
  max-width: 30px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-size: 15px;
  margin-left: 300%;
  position: relative;
  text-align: center;
  height: 90%;
}

.text p {
  rotate: 270deg;
  height: 15%;
}
