.sideContainer {
  width: 70px;
  height: 100%;
  position: fixed;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  top: 0;
  left: 0;
  background: rgb(26, 26, 26);
}

.text {
  font-size: 15px;
  position: relative;
  text-align: center;
  height: 75%;
}

.btn {
  background-color: rgb(26, 26, 26);
  height: 25%;
  white-space: nowrap;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn p {
  transform: rotate(270deg);
}
